* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #777;
    font-family: Poppins;
    background: #331D2C;
}

header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    width: 1200px;
    box-sizing: border-box;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background-color: #3F2E3E;
    z-index: 1;
}

.icon_menu{
    width: 20px;
    height: 20px;
}

.menu_mobile{
    position: absolute;
    right: 5px;
    top: 0px;
    width: 20px;
    height: 20px;
}

.logo{
    width: 10%;
    height: 10%;
}

ul{
    display: flex;
    flex-direction: row;
}

li {
    display: flex;
    align-items: center;
}

a{
    color: #A78295;
    text-decoration: none;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    padding: 5px 25px 5px 25px;
}

a:hover{
    background: #A78295;
    border-radius: 10px;
    color: #331D2C;
}

.topicos {
    display: flex;
    gap: 5%;
    width: 75%;
}

.ouvidoria {
    background: #A78295;
    border-radius: 10px;

}

.linkOuvidoria{
    color: #331D2C;

}

.marca{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    position: relative;
    top: 40px;
    z-index: 0;
}



h1{
    font-size: 7em;
}

h3{
    letter-spacing: 3px;
    word-spacing: 27px;
}

.linha{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    letter-spacing: 1px;
    color: white;
}


.boxFlutuante{
    position: fixed;
    bottom: 2%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.boxFlutuante a:hover{
    background: none;
}








main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3% 0% 3% 0%;
}

.noticias {
    border: solid black 5px;
    align-items: center;
    align-self: center;
    width:80%;
    height: 50vh;
    background-image: url(imagens/retoria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

footer {
    height: 50%;
    border: black solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 425px) {
    header{
        height: 15%;
    }
    .marca{
        justify-content: space-around;
        top: 5px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .menu{
        display: none;
    }
    h1{
        font-size: 3em;
    }
    h3{
        display: flex;
        justify-content: center;
        font-size: 0.5em;
        letter-spacing: 1px;
        word-spacing: 10px;
    }

}

@media (min-width: 426px){
    .menu_mobile{
        display: none;
    }
}

@media (min-width: 768px) {
    header{
        height: 20%;
    }
    .menu{
        width: 90%;
        padding: 5px 10px 5px 10px;
    }
    a{
        padding-left: 10px;
        padding-right: 10px;
    }
    .marca{
        justify-content:center;
    }
    .logo{
        width: 10%;
        height: 10%;
    }
    h1{
        font-size: 3.5em;
    }
    h3{
        font-size: 0.6em;
        letter-spacing: 2px;
        word-spacing: 10px;
    }

}

@media (min-width: 1024px) {
    header{
        height: 25%;
    }
    .menu{
        width: 90%;
    }
    
}

@media (min-width: 1440px) {
    
}

